<div class="page-header">
  <h3>
    {{ site.title }}
    {% if site.subtitle %}<br/><small>{{ site.subtitle }}</small>{% endif %}
  </h3>
</div>
<img width="100%" class="thumbnail" src="{{ site.url }}/img/logo-360x360.png" alt="{{ site.title }} logo">
<hr>
<p>
Anna Geiger und Stefan Haslinger podcasten über Ihre Erfahrungen beim Programmieren und Programmieren Lernen. Es geht nicht unmittelbar um Code,
sondern um den Erfahrungsaustausch, die Motivation, auch bei Rückschlägen nicht aufzugeben und viele Tipps und Ressourcen.
</p>
<hr/>

<h4>RSS-Feeds</h4>

{% for feed in site['episode_feed_formats'] %}
  <a href="{{ site['url']}}/episodes.{{ feed }}.rss"><i class="fa fa-rss"></i> {{ feed }}-Feed</a><br/>
{% endfor %}

<hr/>
<span class="pull-left">{{ site | flattr_button }}</span>
{% if site.twitter_nick %}
  <a href="https://twitter.com/{{ site.twitter_nick }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_nick }}</a>
{% endif %}
