---
layout: null
---

<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Podcast Player</title>

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/podlove-web-player/css/pwp-light-gray.min.css">

  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/vendor/jquery.min.js"></script>
  <script type='text/javascript' src="{{ site.url }}/podlove-web-player/js/podlove-web-player.min.js"></script>
</head>

<body>
  {{ page | web_player:site }}
</body>

</html>